*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, textarea {
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #d6d3d0;
}

/*--------------------------------------Header------------------------------------ */

header {
    padding: 16px 0;
    background-color: #2b2a29;
    color: #e4880f;
}

header,
section h2,
section h3,
form button {
    font-family: 'Bungee', cursive;
    font-weight: normal;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}

header nav li a:hover {
    color:#e4880f ;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

/*--------------------------------------Section------------------------------------ */

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img{
    height: 24px;
}

.brands-list li {
    display: inline;
    margin-right: 8px;
}

section .container{
    align-items: flex-start;
}

section{
    padding: 24px 0;
    color:#2b2a29;
}

section h2{
    margin-bottom: 16px;
}

section p{
    margin-bottom: 8px;
}

.store-front {
    margin-right: 32px;
    height: 380px;
}

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin: 8px;
}

.social-links li a {
    text-decoration: none;
}

#contact .container{
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

/*--------------------------------------Form------------------------------------ */

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea{
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: #2b2a29;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

form button:hover{
    background-color: #e4880f;
}

input:focus, textarea:focus{
    outline-color: #2b2a29;
}

/*--------------------------------------Footer------------------------------------ */

footer {
    background-color: #2b2a29;
    color: #ecf0f1;
    padding: 16px 0;
}